{
  "globals": {
    "my": true,
    "Page": true,
    "App": false,
    "getApp": true,
    "Component": true,
    "getCurrentPages": false
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "@typescript-eslint/no-var-requires": 0,
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-useless-escape": 0,
    "@typescript-eslint/no-namespace": 0,
    "no-new": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/prefer-namespace-keyword": 0,
    "@typescript-eslint/camelcase": 0,
    "prefer-const": 0,
    "standard/computed-property-even-spacing": 0
  }
}
